<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>moonstar</title>
</head>
<body>
<div id="root"></div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<!--<script src = "../lib/jquery.jplayer.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script>
    // first time you open the page
    var htmlDom = document.getElementsByTagName('html')[0];
    var htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
    htmlDom.style.fontSize = htmlWidth / 10 + "px";
    // after changing window size
    window.addEventListener('resize', function () {
        var htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
        htmlDom.style.fontSize = htmlWidth / 10 + "px";
    });
</script>

</body>

</html>