@function px2rem($px) {
  $rem: 37.5px;
  @return ($px / $rem) + rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: 37.5px;
}

html {
  margin: 0;
  padding: 0;
}
* {

}

.music-container {
  //border: 1px solid greenyellow;
  position: relative;
}

.playing-page-bg {
  position: absolute;
  z-index: -2;
  opacity: 0.4;
  width: 100%;
  height: -webkit-fill-available;
}

.music-title h3 {
  margin: 0;
  padding: 0;
}

.music-title p {
  margin: 0;
  padding: 0;
}

.music-title {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

.icon {
  width: 44px;
  height: 44px;

}

.arrow-left-icon {
  position: absolute;
  left: 30px;
}

.music-info {
  text-align: center;
}

//.lyrics-panel {
//  height: calc(100% - 96px - 326px - 100px - 60px);
//}

/*
    title行 96px + 上下padding 60px
    function 156px
    进度条 100px
    播放上一曲下一曲 326px

    */
.cover-image-wrapper {
  height: calc(100% - 96px - 60px - 156px - 120px - 266px - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //border: 1px solid #3f3f38;
}

.cover-image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 110px solid black;
}

.cover-image-transparent-border {
  padding: 20px;
  background: #666;
  border-radius: 50%;
}

.function {
  height: 156px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //border: 1px solid red;
}


.audio-progress {
  padding-left: 30px;
  padding-right: 30px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#SolarPlayer {
  display: none;
}
/* 真正的播放进度条 */

.progress-bar-bg {
  height: 5px;
  background: #666;
  cursor: pointer;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
}

.progress-played {
  height: 5px;
  background: lawngreen;
}

.audio-time {
  font-size: smaller;
  color: #666;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.music-function-icon {
  width: 60px;
  height: 60px;
  //border: 1px solid green;
}

.play-pause-icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* 播放 上一曲下一曲 */
.music-controller {
  height: 266px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
 // border: 1px solid darkblue;
}

.mamamoo-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: -600px;
  background: #fff;
}

.empty {
  display: none; //如果没有这句 那么flex container默认会给这个empty div一个宽度的
}



/* playlist page */
.playlist-banner {
  width: 100%;
  height: 610px;
}


.playlist-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
 // border: 1px solid #e3e3e3;
}

.playlist-cover-thumbnail {
  width: 100px;
  height: 100px;
}

.playlist-music-info {
  //border: 1px solid red;
  flex: 1;
  margin-left: 45px;
}

.playlist-total-info {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.play-all {
  margin: 0;
}

.playlist-all-play-img {
  margin-right: 30px;
}

.playlist-counts {
  margin-left: 10px;
  font-size: smaller;
  color: #666666;
}


.video-page-container {
  font-size: 26px;
  background: #666;
  color: #fff;
  height: -webkit-fill-available;
  margin: 0 auto;
}

.video-page-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.video {
  width: 96%;
}

.video-info {
  width: 96%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-title {
  margin-bottom: 60px;
  font-size: larger;
}
.album-info {
  //font-size: small;
}