@function px2rem($px) {
    $rem: 37.5px;
@return ($px / $rem) + rem;
}
body {
    margin: 0;
    padding: 0;
    font-size: 37.5px;
}

* {

}


.music-container {
    //border: 1px solid greenyellow;
    position: relative;
}

.playing-page-bg {
    position: absolute;
    z-index: -2;
    opacity: 0.4;
    width: 100%;
    height: -webkit-fill-available;
}

.music-title h3 {
    margin: 0;
    padding: 0;
}
.music-title p {
    margin: 0;
    padding: 0;
}


.music-title {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}


.icon {
    width: 44px;
    height: 44px;

}

.arrow-left-icon {
    position: absolute;
    left: 30px;
}

.music-info {
    text-align: center;
}

.lyrics-panel {
    height: calc(100% - 96px - 326px - 100px - 60px);
}


/*
    title行 96px + 上下padding 60px
    function 156px
    进度条 100px
    播放上一曲下一曲 326px

    */
.cover-image-wrapper {
    height: calc(100% - 96px - 156px - 326px - 100px - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #3f3f38;
}

.cover-image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 110px solid black;
}

.cover-image-transparent-border {
    padding: 20px;
    background: #666;
    border-radius: 50%;
}

.function {
    height: 156px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //border: 1px solid red;
}

.audio-progress {
    //border: 1px solid red;
    height: 100px;
}

.audio-progress-music {
    width: 100%;
}

/* 真正的播放进度条 */
.audio-progress-bar-wrapper {
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.progress-bar-bg {
    height: 5px;
    background: #666;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
}

#progress-dot {

}

.audio-time {
    font-size: smaller;
    color: #666;
}







.music-function-icon {
    width: 60px;
    height: 60px;
    //border: 1px solid green;
}

.play-pause-icon {
    width: 100px;
    height: 100px;
}




/* 播放 上一曲下一曲 */
.music-controller {
    height: 326px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    //border: 1px solid darkblue;
}


.mamamoo-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: -600px;
    background: #fff;
}

.empty {
    display: none; //如果没有这句 那么flex container默认会给这个empty div一个宽度的
}













.playlist-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: 1px solid #e3e3e3;
}

.playlist-cover-thumbnail {
    width: 100px;
    height: 100px;
}

.playlist-music-info{
    //border: 1px solid red;
    flex: 1;
    margin-left: 45px;
}

.playlist-total-info {
    padding: 20px 30px;
    display: flex;
    align-items: center;
}

.playlist-all-play-img {
    margin-right: 30px;
}

.playlist-counts {
    margin-left: 10px;
    font-size: smaller;
    color: #666666;
}