@function px2rem($px) {
    $rem: 37.5px;
@return ($px / $rem) + rem;
}
body {
    margin: 0;
    padding: 0;
    font-size: 37.5px;
}

* {

}
.music-container {
    border: 1px solid greenyellow;
}

.music-title h3 {
    margin: 0;
    padding: 0;
}
.music-title p {
    margin: 0;
    padding: 0;
}


.music-title {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}


.icon {
    width: 44px;
    height: 44px;

}

.arrow-left-icon {
    position: absolute;
    left: 30px;
}

.music-info {
}

.cover-image-wrapper {
    height: calc(100% - 96px - 156px - 326px - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #3f3f38;
}

.cover-image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 110px solid black;
}

.cover-image-transparent-border {
    padding: 20px;
    background: #666;
    border-radius: 50%;
}

.function {
    height: 156px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //border: 1px solid red;
}

.music-function-icon {
    width: 56px;
    height: 56px;
    //border: 1px solid green;
}
.music-controller {
    height: 326px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.playlist-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border: 1px solid #666666;
}

.playlist-cover-thumbnail {
    width: 100px;
    height: 100px;
}

.playlist-music-info{
    //border: 1px solid red;
    flex: 1;
    margin-left: 45px;
}